<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image editor</title>
    <link rel="stylesheet" href="{{ url_for('static', type='text/css', filename='css/styles.css') }}">
</head>
<body>
  <input id="token-input" type="hidden" name="token" value={{token}}>
  <div class="container">
    <div class="upload-field">
      <div class="right-div">
        <a class="download" href="" download>
          Click to download the image!
        </a><br><br>
        <input id="extension-input" type="text" placeholder="Enter image extension"> 
        <div id="ext-input-status"></div>
        <br><br>
        <div>
          Available extensions:<br>
        </div>
        <div id="available-extensions">
          .png, .jpg, .jpeg, .bmp, .tiff, .tif, .ico, .webp, .pbm, .pgm, .ppm, .xbm, .xv, .ras, .sr, .tga, .pcx, .eps, .ps, .psd, .tga<br>
        </div>
      </div>

      <div class="left-div">
        <br>
        <button onclick="invertImage()">Invert image</button><br>
        <br>
        <input id="R-input" type="number" min="-255" max="255" placeholder="R">
        <input id="G-input" type="number" min="-255" max="255" placeholder="G">
        <input id="B-input" type="number" min="-255" max="255" placeholder="B"><br>
        <br>
        <button onclick="sumbitOffset()">Submit</button><br>
      </div>

      <div class="image-upload">
      <label for="image-upload">Click to choose the image:</label><br>
    
      </div>
      <input type="file" name="file" id="image-upload" accept="image/*">
      <br>
      <img id="preview-image" src=""  style="max-width: 100%; max-height: 80%;">
    </form>
    </div>

  </div>
  
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>


</body>
</html>
